#index
  h3 Visualizations
  ul
    li.name 
      a(href='/viz/by_created') How many packages are created per day?
    li.name 
      a(href='/viz/by_downloads') How many packages are downloaded per day?
