if everyauth.loggedIn
  p(class='pull-right')
    if everyauth.github.user.avatar_url
      img.avatar(src='#{everyauth.github.user.avatar_url}', width="25", height="25")
    span(class='hello') Hello, #{everyauth.github.user.name || everyauth.github.user.login || "guest"}
    a(href='/logout') Logout
else
  p.pull-right
    a(href="/auth/github", class="btn github") Login with github
