if user
  p(class='pull-right')
    if user.avatar_url
      img.avatar(src='#{user.avatar_url}', width="25", height="25")
    span(class='hello') Hello, #{user.name || user.login || "guest"}
    a(href='/logout') Logout
else
  p.pull-right
    a(href="/auth/github", class="btn github") Login with github
