footer
  .container
    .row
      #follow_us.span5
        h5 Follow Us
        ul.unstyled
          li#twitter
            a(title='Twitter', target='_blank', href='http://twitter.com/nodetoolbox')
          li#rss
            a(title="Blog", target="_blank", href="http://blog.activesphere.com/rss.xml")
      .span5
        h5 Thanks
        p
          a(href='https://npmjs.org/') npm 
          |  is 
          a(href='https://raw.github.com/isaacs/npm/master/LICENSE') Copyright 
          a(href='https://github.com/isaacs') Isaac Z. Schlueter.
        p 
          i (ActiveSphere is not affiliated with the npm project)
        p
          | Logo by 
          a(href="http://pabloban.deviantart.com/") Pabloban 

      #boring_stuff.span5
        h5 Boring Stuff
        p
          | By 
          a(href="http://www.activesphere.com") Activesphere
          span &nbsp; © 2011
        p  
          | We build scalable applications using Ruby, Node.js and NoSQL platforms
        p
          | Contact Us: 
          a(title='Email Us', href='mailto:mail@activesphere.com') mail@activesphere.com


