h3 References
ul.unstyled
  li
   a(href='http://nodejs.org/docs/') Official Node.js Documentation
  li
   a(href="http://nodeguide.com/") Felix's Node.js Guide
  li 
    a(href="http://nodebeginner.org/") The Node Beginner Book
  li  
    a(href="http://ofps.oreilly.com/titles/9781449398583") Up and Running with Node.js
  li  
    a(href="http://visionmedia.github.com/masteringnode/") Mastering Node
  li  
    a(href="http://nodetuts.com/handson-nodejs-book.html") Hands-on Node.js
hr/
h3 Resources
ul.unstyled
  li
    a(href="http://blog.nodejs.org/") Node blog
  li
    a(href="http://howtonode.org/") How to Node
  li  
    a(href="http://nodetuts.com/") Node Tuts
  li
    a(href="https://peepcode.com/screencasts/node") Peepcode Node Screencasts
  li
    a(href='http://stella.laurenzo.org/2011/03/bulletproof-node-js-coding/') Bulletproof Node.js Coding
  li
    a(href="http://blog.nowjs.com/get-started-with-nodejs-for-002-and-two-minut") No more excuses ...
  li
    a(href="http://www.nodecloud.org/") Node Cloud
  li
    a(href="http://www.it-wars.com/categorie8/dev") French resources