#signin(style='display:none')
  | To make these changes you need to be logged in to the application.
  br
  | We use Github to provide the OAuth.
  | We <b>do not</b> use the tokens to do anything else. 
  hr
  a(href="/auth/github", class="github btn") Login with github

