!!! 5
html(leng="en")
  head
    title The Node Toolbox - #{title}
    meta(name="Description", content="The Node Toolbox is a catalogue of Node.js packages, tools and resources with popularity ratings based on Github watchers and forks")
    meta(name="Keywords", content="#{title}, node.js, nodejs, node, toolbox, node-toolbox, npm, package, express, github, catalogue, overview, categories, packages, activesphere")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="/favicon.ico")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Lato", type="text/css")
    link(rel="stylesheet", href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/themes/cupertino/jquery-ui.css", type="text/css")
    link(rel="stylesheet", href="/styles/bootstrap.2.0.4.min.css")
    link(rel="stylesheet", href="/styles/bootstrap-responsive.min.css")
    link(rel="stylesheet", href="/styles/style.css", type="text/css", media="screen", charset="utf-8")
    link(rel="stylesheet", href="/styles/chosen.css", type="text/css", media="screen", charset="utf-8")
    link(rel="search", href="/opensearch.xml", type="application/opensearchdescription+xml")
  body
  != partial("./partials/_signin_dialog")
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid.navigation
          button.btn.btn-navbar(type="button", data-toggle="collapse", data-target=".nav-collapse")
            span.icon-bar ""
            span.icon-bar ""
            span.icon-bar ""
          a.brand.span3(href="/") node-toolbox
          .nav-collapse.collapse
            ul.nav
              li: a(href="/categories") Categories
              li: a(href="/packages") Packages
              li: a(href="/viz/") Visualizations
            form.navbar-form.pull-left(action="/search")
              input.span3(type="text", placeholder="Search", name="q")
            != partial("./partials/_authentication_items")

    .container-fluid
      .row-fluid
        .span2
          .well
            != partial("./partials/_references_and_resources")
            hr/
            .twitter
              a(href="https://twitter.com/share", class="twitter-share-button", data-text="Toolbox for #nodejs", data-count="horizontal", data-via="nodetoolbox", data-related="activesphere") Tweet
              script(type="text/javascript", src="http://platform.twitter.com/widgets.js")    
          != partial("./partials/twitter_stream")
        .content.span10
          #main_content!= body
    
    != partial("./partials/_new_footer")
    behaviour
      script(src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.4.min.js")
      script(src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/jquery-ui.min.js")
      script(src="/js/twitter.tooltip.js")
      script(src="/js/prettynumber.js")
      script(src="/js/app.js")
      script(src="/js/jquery.timeago.js")
      script(src="/js/readme.js")
      script(src="/js/chosen.js")
      - if(production())
        != partial("./partials/_google_analytics")
