h3 Recently Added
dl
  each result in results
    dt
      a(href="/packages/#{result.id}") #{result.id}
      - added_at = new Date(result.key).toISOString()
      sup.timeago(title=added_at)= added_at